* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

section {
  
    width: 90%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
}


/* section div { */


/* width: 200px; */


/* height: 200px;     */


/* background-image: repeating-linear-gradient(0.40turn, blue 32%, antiquewhite 35%, blue 38%); */


/* flex-basis: 15%; */


/* border-radius: 10px; */


/* margin: 2px; */


/* border: 2px solid rgb(190, 164, 226); */


/* box-shadow: 3px 3px rgb(190, 164, 226); */


/* } */

section div {
    /* flex: 15%; */
    height: 33.3vh;
    /* background-color: rgb(112, 79, 155); */
    /* background-image: repeating-linear-gradient(to right, rgb(112, 79, 155), antiquewhite, rgb(112, 79, 155)); */
    /* background-image: repeating-linear-gradient(0.40turn, blue 32%, antiquewhite 35%, blue 38%); */
    
    /* flex-basis: 22.5%;
    flex-basis: 30%; */
    /* border-radius: 10px; */
    margin: 2px;
    /* border: 2px solid rgb(190, 164, 226);
    box-shadow: 3px 3px rgb(190, 164, 226); */
}

.crimson {
    background-color: crimson;
}

.yellow {
    background-color: yellow;
}

.lawngreen {
    background-color: lawngreen;
}

.violet {
    background-color: rgb(185, 83, 185);
}

.aqua {
    background-color: aqua;
}

.orange {
    background-color: rgb(255, 166, 0);
}

.gray {
    background-color: gray;
}

.blue {
    background-color: rgb(46, 59, 245);
}

.darkgreen {
    background-color: rgb(101, 184, 101);
}

.crimson,
.yellow,
.lawngreen,
.violet,
.aqua,
.orange,
.gray,
.blue,
.darkgreen {
    border: 2px solid rgb(190, 164, 226);
    box-shadow: 3px 3px rgb(190, 164, 226);
    border-radius: 10px;
}

.hidden {
    border: 2px solid rgb(190, 164, 226);
    box-shadow: 3px 3px rgb(190, 164, 226);
    background-image: repeating-linear-gradient(0.40turn, blue 32%, antiquewhite 35%, blue 38%);
    border-radius: 10px;
}

.off {
    background-color: antiquewhite;
}

.start {
    display: none;
}

/* .S div {
    flex-basis: 30%;
    width: 30%;
    flex-grow: 1;
    height: 33.33vh;
}

.M div {
    flex-basis: 22.5%;
    width: 22.5%;
    flex-grow: 1;
    height: 33.33vh;
}

.L div {
    flex-basis: 15%;
    width: 15%;
    flex-grow: 1;
    height: 33.33vh;
} */


/* .sakrij {
    display: none;
} */

form {
    margin-top: 15%;
    font-size: 30px;
    border-radius: 5px;
    width: 32%;
    margin-left: 32%;
}

form,
button {
    border: 5px solid blue;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: blue;
    box-shadow: 2px 2px rgb(3, 41, 167);
    color: antiquewhite;
    text-shadow: 2px 2px rgb(3, 41, 167);
}

button {
    margin-top: 0px;
    border-radius: 5px;
    width: 100%;
    font-size: 25px;
    border: 3px solid antiquewhite;
}